<h1 id="title" class="title">Change password</h1>
<p class="sub-title">Please set a new password</p>

<nb-alert *ngIf="showMessages" outline="danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
        <li class="alert-message">{{ showMessages }}</li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages_success" outline="success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
        <li class="alert-message">{{ showMessages_success }}</li>
    </ul>
</nb-alert>

<form (ngSubmit)="resetPass()" [formGroup]="resetPassForm" aria-labelledby="title" autocomplete="off">

    <div class="form-control-group">
        <label class="label" for="input-password">New Password:</label>
        <input nbInput type="password" id="input-password" formControlName="password" name="password" class="first"
            placeholder="New Password" autofocus fullWidth fieldSize="large"
            [status]="formControls.password.dirty ? (formControls.password.invalid  ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="formControls.password.invalid && formControls.password.touched ? true : null">
        <ng-container *ngIf="formControls.password.invalid && formControls.password.touched">
            <p class="caption status-danger" *ngIf="formControls.password.errors?.required">
                Password is required!
            </p>
        </ng-container>
    </div>

    <div class="form-group">
        <label class="label" for="input-re-password">Confirm Password:</label>
        <input nbInput id="input-re-password" name="confirmPassword" formControlName="confirmPassword" type="password"
            class="last" placeholder="Confirm Password" fullWidth fieldSize="large" [status]="formControls.confirmPassword.touched
               ? (formControls.confirmPassword.invalid || formControls.password.value != formControls.confirmPassword.value ? 'danger' : 'success')
               : 'basic'"
            [attr.aria-invalid]="formControls.confirmPassword.invalid && formControls.confirmPassword.touched ? true : null">
        <ng-container *ngIf="formControls.confirmPassword.touched">
            <p class="caption status-danger"
                *ngIf="formControls.confirmPassword.invalid && formControls.confirmPassword.errors?.required">
                Password confirmation is required!
            </p>
            <p class="caption status-danger"
                *ngIf="formControls.password.value != formControls.confirmPassword.value && !formControls.confirmPassword.errors?.required">
                Password does not match the confirm password.
            </p>
        </ng-container>
    </div>

    <button nbButton status="primary" [nbSpinner]="submitted" nbSpinnerStatus="info" fullWidth size="large"
        [disabled]="!resetPassForm.valid" [class.btn-pulse]="submitted">
        Change password
    </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
    <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
</section>