<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card-header>
        <button nbButton status="info" [routerLink]="['/admin/administrators/add']">Add &nbsp;<i class="nb-plus"></i></button>
      </nb-card-header>
    
    <nb-card-body>
        
        <div class="row">
            <div class="container-fluid" *ngIf="employees">
                <ng2-smart-table [settings]="settings" [source]="source" [count]="count" 
                (onPageChange)="Onpagenation($event)"
                (custom)="Oncustomevent($event)"></ng2-smart-table>
            </div>
        </div>
    </nb-card-body>
</nb-card>